/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@400;500&family=Roboto&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;


}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    /* font-weight: 500; */
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px ;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.bloh-title{
    font-size: 20px;
}
.blog-author{
    color: #9f9f9f;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* Courses styles */
.course .course-banner img{
    width: 224px;
    height: 104px;
}
